  <footer>
    <p class="links">
      <a href="/cgu">CGU</a> /
      <a href="https://github.com/mklabs/gg-quizz">GitHub</a> /
      <a href="https://github.com/mklabs/gg-quizz/blob/master/LICENSE">MIT LICENSE</a>
    </p>

    <p>Made with ❤ by <a href="https://mklabs.github.io">mklabs</a>, aka Treevor.</p>
  </footer>

  <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-124880544-1', 'auto'); ga('send', 'pageview')
  </script>

  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
