@import 'normalize';
@import 'main';
@import 'palette';
@import 'social';
@import 'node_modules/bootstrap/scss/bootstrap';

body {
  font-family: Arial;
  background-color: $color4;
  color: $textcolor1;

  a {
    color: $textcolor1;
    font-weight: bolder;
  }

  a:hover {
    color: $textcolor1;
  }
}

.textcolor1 {
  color: $textcolor1 !important;
}

.textcolor2 {
  color: $textcolor2 !important;
}

.textcolor3 {
  color: $textcolor3 !important;
}

.truncate {
  width: 100px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// font-family: 'Anton', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans', sans-serif;
header {
  background-color: $color4;
  border-bottom: 1px solid $textcolor2;

  .container {
    position: relative;
  }

  .user-connected {
    position: absolute;
    bottom: 0;
    font-weight: 100;
    font-size: 11px;
    right: 15px;
  }

  .user-connected-photo {
    width: 24px;
  }

  h1 {
    margin: 0;
    padding: 20px 0;

    font-size: 33px;
    font-weight: 500;

    display: inline-block;

  }

  a {
    text-decoration: none;
    color: $textcolor1;
  }

  a:hover {
    color: $textcolor1;
    opacity: 0.7;
    text-decoration: none;
  }

  .navbar-nav {
    flex-direction: row;

    a {
      margin-left: 20px;
    }
  }
}

.homepage {
  text-align: center;
  padding-top: 80px;

  h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 80px;
    color: $textcolor1;
  }

  h3 {
    font-weight: normal;
    text-transform: uppercase;
  }

  p {
    color: $textcolor2;

    &.description {
      color: $textcolor1;
      margin-top: 40px;
    }
  }

  h4, table {
    color: $textcolor1;
  }
}

.page {
  h2 {
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid $textcolor2;
  }
}

.facts {
  table th {
    border-top: none;
  }
}

.cgu {
  h3 {
    font-size: 1.5rem;
  }
}

footer {
  margin-top: 40px;
  border-top: 1px solid $textcolor2;
  padding-top: 20px;
  color: $textcolor1;

  p {
    text-align: center;
  }

  .links {
    a {
      color: $textcolor3;
      font-weight: 500;
    }
  }
}
