/* Coolors Exported Palette - coolors.co/05668d-028090-00a896-02c39a-f0f3bd */

/* RGB */
$color1: rgba(217, 217, 217, 1);
$color2: rgba(219, 219, 219, 1);
$color3: rgba(231, 230, 230, 1);
$color4: rgba(243, 243, 241, 1);
$color5: rgba(225, 225, 228, 1);

$textcolor1: #111;
$textcolor2: $color2;
$textcolor3: #999;

$inputcolor: $color3;
$textinputcolor: $textcolor1;

// $gray-300: $textcolor1;

//Social Colors
$google-color: #db402c;
$facebook-color: #3b5998;
$twitter-color: #55acee;
$gravatar-color: #1E8CBE;
$pinterest-color: #cb2027;
$dribbble-color: #ea4c89;
$behance-color: #1769ff;
$stumbleupon-color: #f74425;

$bnet-color: #002650;
$youtube-color: #e52d27;
$instagram-color: #c13584;
$vimeo-color: #1ab7ea;
