{{> head}}

{{> header page=homepage user=user}}

<div class="main container homepage">
  <h2>gg-quizz</h2>

  <p class="description">
    <em>
      Le principe: Inspiré de https://opentdb.com, ce site vous propose de recenser
      questions et réponses pour de futurs Quizz (ou trivia game). Cette base de
      données pourra ensuite être utilisée pour fournir du contenu à des bots
      Discord, ou toute autre application.

      L'idée est de bosser ensemble sur le contenu des questions / réponses, en
      français, sur des thématique Jeux Vidéos (wow, ff14, etc.).

      Merci à https://jeeves.bot/ pour l'inspiration et sa commande `!trivia`
    </em>
  </p>

  <hr />
</div>

{{> footer}}
