{{> head}}

{{> header page=facts user=user}}

<div class="main container page facts">
  <h2>Facts</h2>

  {{ facts.count }}

  <table class="table">
    <thead>
      <tr>
        <th>Pour</th>
        <th>Facts</th>
        <th>Ajouté par</th>

        {{#if user.admin}}
        <th>Suppr.</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each facts }}
      <tr>
        <td>{{ name }}</td>
        <td>{{ content }}</td>
        <td>{{ author }}</td>
        {{#if ../user.admin}}
        <td><a href="/facts/delete/{{id}}" class="btn btn-secondary">-</a></td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{> footer}}
